<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="sun.bob.jswebview">

    <application android:allowBackup="true" android:label="@string/app_name">
        <activity android:name=".activities.ImagePreviewActivity">

        </activity>

        <activity android:name=".activities.ImageChooseActivity">

        </activity>
    </application>

</manifest>
